<h2>Created by: Andy Pohl</h2>
<p>This blog is a part of my coursework at General Assembly.</p>
<img id="adpohl" src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/1/000/10d/2bf/1d4f46f.jpg">

<script>
$( document ).click(function() {
  $( "#adpohl" ).toggle( "explode" );
});
</script>