<div class="article_container">
  <h1 class="title"><%= @article.title %></h1><br>
  <h4 class="content"><%= @article.content %></h5>

  <%= button_to "Edit Article", edit_article_path(@article), method: :get %>
</div>

<div>
  <% @keywordResults %>
  <h2>KeyWords</h2>
</div>

<div>
  <% @keywordResults.each do |keyword| %>
  <h5 class="keyword"><%= keyword["text"] %></h5>
  <% end %>
</div>

